nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='#')   InvoxiaWebClient
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='/')
          | Device List 
      li.nav-item
        a.nav-link(href='/logout') Log-out
      li.nav-item
        a.nav-link(href='https://www.paypal.com/paypalme/nicholasgiordano' target="_blank") Make a donation
      
